@{
    ViewBag.Title = "Không được phép truy cập";
}

<div class="row">
    <div class="col-md-12">
        <div id="error404-box">
            <h1 class="text-center">Bạn không có quyền truy cập vào trang này</h1>
            <h2>
                Rất tiếc là bạn không được phép truy cập vào trang này, có thể là một
                trong các lý do sau:
            </h2>
            <p>
                1. Nếu bạn gõ địa chỉ trực tiếp, xin vui lòng kiểm tra lại để
                chắc chắn rằng địa chỉ bạn gõ vào là chính xác.
            </p>
            <p>2. Liên kết đã không còn hiệu lực.</p>
            <a href="@ViewBag.Url" class="btn btn-primary">Quay về trang trước</a>
        </div>
    </div>
</div>
