<div class="file-box">
    <div class="file">
        <div class="pull-right m-r-md m-t-sm">
            <a href="#" class="image-remove"><i class="fa fa-trash-o"></i></a>
        </div>
        <img alt="image" class="image img-responsive" src="">
    </div>
</div>

