<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @(Html.Bootstrap()
              .SubmitButton()
              .Value("save-new")
              .Text("Lưu & thêm mới")
              .Name("save-action")
              .Style(ButtonStyle.Success)
              .Class("submit-button")
              .PrependIcon("fa fa-floppy-o"))
        @(Html.Bootstrap()
              .SubmitButton()
              .Value("save-close")
              .Text("Lưu & đóng")
              .Name("save-action")
              .Class("submit-button")
              .Style(ButtonStyle.Danger)
              .PrependIcon("fa fa-power-off"))
        @(Html.Bootstrap()
              .ActionLinkButton("Trở về danh sách", "Index")
              .Style(ButtonStyle.Info)
              .PrependIcon("fa fa-reply-all"))
    </div>
</div>
